# متغيرات البيئة

# أضف هذا الملف باسم `.env` محليًا وملأ القيم

# اسم التطبيق
VITE_APP_NAME=تكة

# رابط الـ API (إذا كنت تستخدم backend)
VITE_API_URL=http://localhost:3000

# وضع التطوير
VITE_MODE=development
